* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../img/bg.jpg') repeat-x #718693;
}

#page {
    /* The main container div */
    width: 620px;
    margin: 60px auto 0;
}

#turnOnForm {
    /* The search form. */
    background-color: #4C5A65;
    padding: 50px 50px 30px;
    margin: 50px 0;
    position: relative;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

h1 {
    font-family: Corbel, 'Myriad Pro', Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    padding: 50px 50px 0px;
    height: 45px;
}

h2 {
    font-family: Corbel, 'Myriad Pro', Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    padding: 0px 50px 0px;
    height: 45px;
}

p {
    font-family: Corbel, 'Myriad Pro', Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    font-size: 17px;
    padding: 0px 50px 0px;
    height: 30px;
}

#password {
    /* The search text box. */

    border: none;
    color: #888888;
    background: url("../img/searchBox.png") no-repeat;

    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    margin-right: 12px;
    outline: medium none;
    padding: 0 0 0 35px;
    text-shadow: 1px 1px 0 white;
    width: 385px;
}

#submit {
    border: 0;
    display: block;
    height: 36px;
    width: 36px;
}

#submit:hover {
    cursor: pointer;
    /*    background-position: left bottom;*/
}


div.tarea {
    color: black;
    border: 1px inset #ccc;
    background-color: white;
    font: small courier;
    width: 500px;
    height: 300px; /* or whatever measurements you want */
    overflow: auto; /* in most browsers, this will results in a scrollbar when there's more content than can fit in the dimensions defined above */
}